
{/* 배경 이미지 css */}
.bg-timetable {
    /* 이미지 배경 스타일 유지 */
    background-color: black;
  background-image: url('/images/timetable.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
  }
  

  @media (max-width: 280px) {
    .timetableBox {
      width: 250px;
      height: 80px;
    }
  }
  