@keyframes textFlow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.text-flow {
  animation: textFlow 10s linear infinite;
  position: absolute;
  overflow-x: hidden;
  white-space: nowrap;
}
