@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@600&display=swap');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('src/fonts/Pretendard-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/fonts/Pretendard-SemiBold.ttf') format('ttf');
}

body {
  background-color: black;
}

h1 {
  font-family: 'Audiowide', cursive;
}
